@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ComputerStore.Controllers
@{
    ViewData["Title"] = "Accessory Page";
}
<div class="text-center">
    <h1 class="display-4">Here are the available Accessories  </h1>
    
    <button type="button" onclick="location.href='@Url.Action("Home","Home")'">Home Page</button>
     <button type="button" onclick="location.href='@Url.Action("Laptops","Home")'">View Laptops</button>
     <button type="button" onclick="location.href='@Url.Action("Tablets","Home")'">View Tablets</button>
    <div><b>Below you will find this list of accessories that we have and their details</b></div>
        <br/>
    
        @{
             
            foreach(Accessories device in Accessories.GetAccessories())
            {
                WriteLiteral("<div>We Have a "+ device.name +", it is a  "+ device.description+" from " +device.brand+ ". You can purchase this " +device.type+" for $"+device.price +"</div><br>");
            }
        }
    
</div>